@font-face {
    font-family: Twk;
    src: url(../app/assets/font/Twk/Twk/TWKLausanne-600.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Twk;
    src: url(../app/assets/font/Twk/Twk/TWKLausanne-550.otf);
    font-weight: 550;
    font-style: normal;
}

@font-face {
    font-family: Twk;
    src: url(../app/assets/font/Twk/Twk/TWKLausanne-500.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Twk;
    src: url(../app/assets/font/Twk/Twk/TWKLausanne-350.otf);
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: Twk;
    src: url(../app/assets/font/Twk/Twk/TWKLausanne-300.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Twk;
    src: url(../app/assets/font/Twk/Twk/TWKLausanne-250.otf);
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: Twk;
    src: url(../app/assets/font/Twk/Twk/TWKLausanne-200.otf);
    font-weight: 200;
    font-style: normal;
}

/* ------------ Inter -------------- */

@font-face {
    font-family: Inter;
    src: url(../app/assets/font/Inter/static/Inter_24pt-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url(../app/assets/font/Inter/static/Inter_24pt-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url(../app/assets/font/Inter/static/Inter_18pt-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-size: 6rem;
    font-family: Inter, Helvetica, sans-serif, Arial;
    font-weight: 700;
    line-height: 7rem;
    color: var(--word-color);
    word-spacing: -0.1rem;
    letter-spacing: -0.1rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: Inter, Helvetica, sans-serif, Arial;
    font-weight: 800;
    letter-spacing: -0.05rem;
    color: #151515;
}

h3 {
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: Inter, Helvetica, sans-serif, Arial;
    font-weight: 600;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 0.75rem;
    color: white;
    font-family: Inter, Helvetica, sans-serif, Arial;
}

h5 {
    font-size: 2.1rem;
    font-family: Twk, Helvetica, sans-serif, Arial;
    font-weight: 350;
}

h6 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-family: Twk, Helvetica, sans-serif, Arial;
    font-weight: 500;
    color: var(--text-color-02);
}

p {
  font-size: 1rem;
  font-weight: 500;
line-height: 1.75rem;
font-family: Inter, Helvetica, sans-serif, Arial;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
}
